body, input, button  {
  font-size: 20px;
  font-family: 'Merriweather', serif;
/* 1.4.2 Text Spacing */
  line-height: 1.5em;
  letter-spacing: .12em;
  word-spacing: .16em;
}

main {
  padding: 0 2em;
}
h1 {
  margin:0 0 .2em 1em;
}

h1, h2 {
  line-height: 1.5em;
}

p, ul, blockquote {
  margin:0 0 2em 0;
}

blockquote {
  background: #f9f9f9;
  padding:.5em 1em 1em 1em;
  margin:0 0 2em 0;

}


blockquote p {
  display: inline;
}
cite { 
  display: inline;
}
.w-VisuallyHide {
  position: absolute;
  top:0;
  left:-9999px 
}
/* End Text Spacing */

.w-SlidesContainer {
  list-style: none;
}

.w-SlidesContainer li {
  border-top: solid 4px #ccc;
  margin:0 2em 0 0;
}

.w-SlidesContainer ul {
  margin:0 0 2em 0;
}

.w-Slide {
  border-bottom: solid 4px #ccc;
  margin:2em 0 0 1em;
}

.w-SlidesContainer ul > li {
  margin: 0 0 .5em 0;
  border:none
} 

.w-SlideControls {
  list-style:none;
}

.w-BtnBase {
  min-height:44px;
  min-width:44px;
  font-size:1em;
  padding:0;
  border: solid 2px #8F8F8F;
  background-color:#8F8F8F;
  color:#fff;
  cursor:pointer;
}

.w-BtnBase:focus, .w-BtnBase:active, .w-BtnBase:hover, .mod-Active {
  background-color:#fff;
  color:#4b2e83;
  border: solid 2px #4b2e83;
}

.w-BtnPrev {
  position:fixed;
  left:0;
  top:50%;

}
.w-BtnNext {
  position:fixed;
  right:0;
  top:50%;
}

.w-BtnSet { /* ul */
  display:flex;
  flex-wrap:wrap;
  list-style-type:none;
  margin:0;
}

.w-BtnSet li {
  padding: 0.5em .5em 0 0;

}

/* forms */
fieldset {
  margin: 0 0 1em 0;
}
label {
  display:block;
  margin:1.5em 0 0 1em;
}
input[type=text] {
  display:block;
  max-width: 250px;
  margin:0 0 1em 1em;
}
input[type=submit] {
  margin:1em;
  padding: .5em;
}

/* tool tip */

.w-ToolTipped {
}
.w-TipContainer {
    position: relative;
    display:inline-block;
}
.w-TipContainer:hover .w-BtnBase {
  background-color:#fff;
  color:#4b2e83;
  border: solid 2px #4b2e83;
}
.w-ToolTip {
    position: absolute;
    top:2.7em;
    left:0;
    padding:10px 10px;
    color: white;
    background: #4b2e83;
    border-top: 4px solid #4b2e83;;
    line-height: 30px;
    z-index: 999;
    box-shadow: 
        05em 0em 05em transparent,
        0em 0.2em 5px #ccc,
        0em 5px 5px #ccc,
        0em 5px 5px #ccc;
}
.w-ToolTip:after {
  content: '';
  position: absolute;
  bottom: 100%;
  left: 1em;
  margin-left: -8px;
  width: 0; 
  height: 0;
  /* the following makes the arrow */
  border-bottom: 10px solid #4b2e83;;
  border-right: 8px solid transparent;
  border-left: 8px solid transparent;
}