body, input, button  {
  font-size: 20px;
  font-family: 'Merriweather', serif;
/* 1.4.2 Text Spacing */
  line-height: 1.5em;
  letter-spacing: .12em;
  word-spacing: .16em;
}
main {
  padding: 0 1em;
}

h1, h2 {
  line-height: 1.5em;
}

p, ul, blockquote {
  margin:0 0 2em 0;
}

blockquote {
  background: #f9f9f9;
  //border-left: 10px solid #ccc;
  padding:.5em 1em 1em 1em;
  margin:0 0 2em 0;

}


blockquote p {
  display: inline;
}
cite { 
  display: inline;
}
/* End Text Spacing */

.w-SlidesContainer {
  list-style: none;
}

.w-SlidesContainer li {
  border-top: solid 4px #ccc;
  margin:0 2em 0 0;
}

.w-SlidesContainer ul {
  margin:0 0 2em 0;
}

.w-Slide {
  border-bottom: solid 4px #ccc;
  margin:2em 0 0 1em;
}

.w-SlidesContainer ul > li {
  margin: 0 0 .5em 0;
  border:none
} 

.w-SlideControls {
  list-style:none;
}

.w-BtnBase {
  min-height:44px;
  min-width:44px;
  font-size:1em;
  padding:0;
  border: solid 2px #4b2e83;
  background-color:#4b2e83;
  color:#fff;
}

.w-BtnBase:focus, .w-BtnBase:active, mod-Active {
  background-color:#fff;
  color:#4b2e83;

}

.w-BtnBase:hover {
  background-color:#fff;
  color:#4b2e83;
}

.w-BtnPrevNext {

}

.w-BtnSet { /* ul */
  display:flex;
  flex-wrap:wrap;
  list-style-type:none;
  margin:0;
}

.w-BtnSet li {
  padding: 0.5em .5em 0 0;

}

/* forms */
fieldset {
  margin: 0 0 1em 0;
}
label {
  display:block;
  margin:1.5em 0 0 1em;
}
input[type=text] {
  display:block;
  max-width: 250px;
  margin:0 0 1em 1em;
}
input[type=submit] {
  margin:1em;
  padding: .5em;
}
