body, input, button {
  font-size: 20px;
  font-family: 'Merriweather', serif;
/* 1.4.2 Text Spacing */
  line-height: 1.5em;
  letter-spacing: .12em;
  word-spacing: .16em;
}

p {
  margin:0 0 2em 0;
}
/* End Text Spacing */

.w-SlidesContainer {
  list-style: none;
}

.w-SlidesContainer ul {
  margin:0 0 2em 0;
}

/* .w-SlidesContainer ul > li {
  line-height:2em;
} */

.w-SlideControls {
  list-style:none;
}

.w-SlideNav ul {
  list-style-type:none;
}

.w-SlideNav ul li {
  display:inline-block;
  padding: 0 1.5em 0 0;
}

.w-BtnBase {
  min-height:44px;
  min-width:44px;
  font-size:1em;
  padding:0;
  background-color: #d9d9d9;
}